body{
    /* background-color: #352f5b; */
    background: -webkit-linear-gradient(to right, #423a6f, rgba(106, 17, 203, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #423a6f, rgba(106, 17, 203, 1))
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between; /* Distribute elements  */
    align-items: center;
  }
  
  .div { /* Give this div a more descriptive class name */
    display: flex; /* Allow items inside to be side-by-side */
    align-items: center;
  }
  
  .delete {
    margin-left: auto;  /* Push the delete icon to the right */
  } 
  .container{
    max-width: 450px;
    
  }
  li {
    font-size: 1.2rem;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, .2);
  }
  
  li.list-group-item{
    background-color: #423a6f;
    color: #F8F9FA;
  }
  
  .delete{
    cursor: pointer;
  }
  
  label.add{
    margin-bottom: 15px;
  }
  
  .filtred{
    display: none !important;
  }


  